*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.square{
    display: block;
    margin: 40px auto;
    width: 400px;
    height: 400px;
    background-color: blueviolet;
}
.top{
    width: 100%;
    height: 20%;
    background-color: red;
    color: black;
    text-align: center;
}
.box{
    width: 100%;
    height: 80%;
    background-color: aqua;
    display: flex;
}
.left{
    width: 25%;
    height: 100%;
    background-color: yellow;
    color: black;
    text-align: center;
}
.right{
    width: 75%;
    height: 100%;
    background-color: rgb(31, 253, 31);
    color: black;
    text-align: center;
}
.content-top{
    width: 100%;
    height: 75%;
    background-color: blue;
}
.under{
    background-color: aquamarine;
    width: 100%;
    height: 25%;
}
